
.mainCarousel .swiper{
    /* width: 50%; */
    width: 70%;
    height: 150px!important;
    padding-bottom: 30px!important;
}

.mainCarousel > .swiper > .swiper-slide p{
  margin: 0;
}

.swiperBlock{
  width: 70px;
  height: 70px;
  border: 2px solid #EAF9F4;
  border-radius: 50%;
  /* border-radius: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
/* 
.mainCarousel > .swiper{
  height: 80px!important;
} */

.mainCarousel > .swiper > .swiper-pagination > .swiper-pagination-bullet-active{
  background: #4E0F8A!important;
}

.mainCarousel > .swiper > .swiper-wrapper > .swiper-slide{
  height: 150px;
  color: black;
  display: flex!important;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;

}
  
/*   
  .mainCarousel > .swiper > .swiper-wrapper > .swiper-slide {
    width: 120px!important;
    
  }

  

  .swiperBlock{
    width: 50px;
    padding: 20px;
    background: #FFFFFF;
    border: 2px solid #EAF9F4;
    border-radius: 100px;
  }
  
  .swiper-slide img {
    width: 100%;
  } 
   */

   @media screen and (max-width:600px) {

    .mainCarousel .swiper{
      width: 80%;
      height: 185px!important;
      padding-bottom: 0!important;
    }

    .mainCarousel > .swiper > .swiper-wrapper{
      height: 80%;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
      bottom: 20px;
    }

    .mainCarousel > .swiper > .swiper-wrapper > .swiper-slide{
      height: 100%;
      font-size: 14px;
    }
   }